<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin app</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppForAdmins.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar-container">
                <ul class="navbar-list">
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="main">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="footer-container">
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
