<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin app</title>
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="font-family-1 black-text profi">Profi</h1>
            <nav class="navbar">
                <ul class="navbar-list">
                    @*@if (User.Identity?.IsAuthenticated ?? false)*@
                    @if (true)
                    {
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Applications" asp-action="Index">Заявки</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Main" asp-action="Index">Главная</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Projects" asp-action="Index">Проекты</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Services" asp-action="Index">Услуги</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Blogs" asp-action="Index">Блоги</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Contacts" asp-action="Index">Контакты</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                        </li>
                    }
                    else
                    {
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                        </li>
                        <li class="navbar-item">
                            <a class="font-family-1 navbar-link" asp-area="" asp-controller="Account" asp-action="SignUp">Sign up</a>
                        </li>
                    }
                </ul>
            </nav>
        </header>

        <main role="main" class="main">
            <div class="userbar">
                <div class="userbar-block-logo">
                    <img class="ldr-logo" src="/img/objects/ldr-logo.jpg" alt="love death & robots" />
                </div>
                <div class="userbar-block-username">
                    <p class="font-family-2 userbar-text white-text">Пользователь: kalabuha</p>
                </div>
            </div>
            <div class="container-content">
                @RenderBody()
            </div>
        </main>
    </div>


    @*    <footer class="footer">
        <div class="footer-container">
        </div>
        </footer>*@

    <script src="~/js/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.form.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
