@model ApplicationModel

@{
    ViewData["Title"] = $"Заявка {Model?.Number}";
}

@if (Model != null)
{
    <div class="container-content-common">
        <div class="content-block">
            <h1 class="font-family-1 h1-standart-page gold-text">Заявка номер @Model.Number</h1>
        </div>

        <div class="content-block">
            <h1 class="font-family-1 h1-standart-page gold-text">Заявки</h1>
        </div>

        <div class="content-block">
            <h1 class="font-family-1 h1-standart-page gold-text">Заявки</h1>
        </div>
    </div>
}
else
{

}


