@*@model*@

@{
    ViewData["Title"] = "Home";
}

<div class="container-content-common">
    <div class="content-block">
        <h1 class="font-family-1 h1-standart-page gold-text">Главная</h1>
    </div>

    <div class="content-block">

    </div>
</div>
