@{
    ViewData["Title"] = "Start";
}

<div class="main-content-start">
    <video class="main-content-video-background" autoplay muted loop id="video-background">
        <source src="../screensavers/retro-wave-auto-rides.mp4" type="video/mp4">
    </video>

    <div class="main-content-start-center-elements">
        <a class="link-retrowave-logo-retrowave-radio" asp-protocol="https" asp-host="retrowave.ru/">
            <img class="retro-wave-logo" src="../img/logos/retro-wave-logo.png" alt="retro-wave-logo" />
        </a>
        <h1 class="white-text start-text">
            Добро пожаловать. Сайт предназначен для оказания IT-консалтинговых услуг,
            а также для продвижения retrowave и synthwave культуры.
        </h1>
    </div>
</div>